.product-detail__body {
  padding: 2rem;
}
.product-detail__btn {
  margin-left: 1rem;
}
.product-detail__quantity {
  margin: 1.5rem;
  text-align: center;
}
.product-detail__cart {
  width: 60%;
  margin: 0 auto;
  margin: 1rem 0;
}
.cart {
  background: green;
  color: white;
  border: none;
}
.quantity-text {
  margin-right: 1rem;
}
.quantity {
  margin: 0.8rem;
}

.checkout {
  background: purple;
  color: white;
  border: none;
}
.checkout {
  cursor: pointer;
}
.cart:hover,
.checkout:hover {
  border: none;
  transform: translateY(-3px);
}
.cart:active,
.checkout:active {
  border: none;
  transform: translateY(0);
}
.quantity-btn:disabled {
  cursor: not-allowed;
}
.quantity-btn {
  cursor: pointer;
  padding: 3px;
}
