.product-detail__body {
  padding: 2rem;
}
.product-detail__btn {
  margin-left: 1rem;
}

.product-detail__cart {
  margin: 0 auto;
  margin: 1rem 0;
}
.cart-btn {
  background: green;
  color: white;
  border: none;
}

.checkout-btn {
  background: purple;
  color: white;
  border: none;
  cursor: pointer;
}

.cart-btn:hover,
.checkout-btn:hover {
  border: none;
  transform: translateY(-3px);
}
.cart-btn:active,
.checkout-btn:active {
  border: none;
  transform: translateY(0);
}
