.filter {
  margin-bottom: 2rem;
  transition: all 0.4s ease-in-out;
  padding: 0 0.5rem;
}
.filter-products {
  box-shadow: 0 0 1px grey;
  padding: 1rem 0;
  align-self: start;
  transform: translateX(-24rem);
  display: none;
  flex-basis: 14rem;
  margin-right: 0.7rem;
  position: sticky;
  top: 30px;
  height: 40rem;
  background: white;
  border-radius: 4px;
  align-self: flex-start;
  overflow-y: auto;
  padding-bottom: 0;
}
.filter__vals {
  margin-top: 1.4rem;
}
.filter__child {
  margin: 0.4rem 0;
}
.filter__header {
  font-size: 1rem;
  font-weight: 400;
  padding: 0.4rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}
.filter__header span {
  font-weight: bold;
  text-transform: capitalize;
}
.show-filter {
  display: block;
  transform: translateX(0);
}
.hide-filter-icon {
  display: none;
}

.clear-filter-btn {
  padding: 0.8rem 1.5rem;
  background: rgba(128, 0, 128, 1);
  color: white;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
}
.clear-filter-btn:hover {
  background: rgba(128, 0, 128, 0.7);
}
.clear-filter-container {
  padding: 1rem 0.5rem;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
  position: sticky;
  bottom: 0;
  background: white;
}
@media (max-width: 900px) {
  .filter-products {
    position: fixed;
    top: 0;
    background-color: white;
    right: 0;
    width: 18rem;
    z-index: 50;
    padding: 2rem;
    height: 90vh;
    margin-top: 1rem;
  }
  .hide-filter-icon {
    display: block;
    font-size: 1.2rem;
    position: absolute;
    left: 1rem;
    top: 1rem;
    cursor: pointer;
  }
  /* .hide-filter {
  } */
}
@media (min-width: 900px) {
  .mobile-backdrop {
    display: none;
  }
}
