.filter {
  margin-bottom: 2rem;
  transition: all 0.4s ease-in-out;
}
.filter-products {
  box-shadow: 0 0 1px grey;
  padding: 1rem 0.4rem;
  align-self: start;
  transform: translateX(-24rem);
  display: none;
  flex-basis: 14rem;
  margin-right: 0.7rem;
}
.filter__vals {
  margin-top: 1.4rem;
}
.filter__child {
  margin: 0.4rem 0;
}
.filter__header {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.4rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}
.show-filter {
  position: static;
  display: block;
  transform: translateX(0);
}

@media (max-width: 900px) {
  .filter-products {
    position: fixed;
    transform: translateX(-24rem);
  }
  /* .hide-filter {
  } */
}
