.overall-ratings {
  padding: 1rem 2rem;
  border: 1px solid rgba(128, 128, 128, 0.4);
  margin-top: 1rem;
}
.overall-ratings__header {
  margin-bottom: 1rem;
}
.overall-rating-container {
  display: flex;
  align-items: center;
}
.total-rating-score {
  margin-right: 3rem;
  font-size: 3rem;
}
.total-rating i {
  font-size: 3rem;
}
.overall-rating {
  display: flex;
  margin-bottom: 0.4rem;
}
.total-ratings-count {
  font-size: 1.2rem;
  font-weight: normal;
  text-align: center;
  margin-top: 1rem;
  display: block;
}
.overall-rating__star {
  margin-right: 0.8rem;
}
.overall-rating > * {
  margin-right: 2rem;
}
.review-lists {
  padding: 1rem 2rem;
}
.review {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
  padding: 1rem 0;
}
.review-list__customer {
  display: flex;
  align-items: center;
}
.customer-avatar {
  margin-right: 2rem;
  height: 4rem;
  width: 4rem;
  background: purple;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 2rem;
}
.customer-name {
  font-weight: 500;
  margin-right: 9px;
  text-transform: capitalize;
}
.review-list__review {
  margin-top: 1rem;
}
.rating-stars {
  margin-bottom: 3px;
}
.rating-stars span {
  margin-left: 0.4rem;
  font-weight: 400;
}
.rating-stars i {
  margin-right: 2px;
  font-size: 1rem;
}
.progress-bar {
  width: 12rem;
}
.progress-bar span {
  display: none !important;
}
.customer-name-container {
  display: flex;
}
.maximum-rating {
  font-size: 2rem;
  font-weight: 100;
}
