.mobile {
  display: none;
}
.toggle-container {
  width: 100%;
}
.toggle-headers {
  display: flex;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.toggle-headers h5 {
  font-size: 1.2rem;
  font-weight: normal;
  margin-right: 2rem;
  cursor: pointer;
  color: rgb(128, 128, 128);
  padding: 0.4rem 1rem;
  text-align: center;
}
.active-toggle-header {
  color: green !important ;
  border-bottom: 3px solid green;
}
.toggle-result {
  margin-top: 1rem;
}
.mobile-feature {
  width: 80%;
  background-color: none;
  box-shadow: none !important;
}
@media (max-width: 1100px) {
  .mobile {
    display: block;
  }
}
