.category {
  text-align: center;
  cursor: pointer;

  position: relative;
}
.category__items {
  transition: all 0.4s;
  width: 7rem;
  background: white;
  padding: 0.5rem 0;
  position: absolute;
  list-style: none;
  text-align: center;
  opacity: 0;
  left: 0;
  visibility: hidden;
  margin-top: 1rem;
  box-shadow: 0 4px 4px grey;
}

.nav__category-item {
  color: black;
  padding: 0.2rem 1rem;
}
.nav__category-item:not:last-child {
  margin-bottom: 0.9rem;
}

.nav__category-item:hover {
  background: green;
  color: white;
}
.show-category {
  opacity: 1;
  visibility: visible;
}
