.quantity-text {
  margin-right: 1rem;
}
.quantity {
  margin: 0.8rem;
}
.product-detail__quantity {
  cursor: auto;
  margin: 1.5rem;
  text-align: center;
}
.quantity-btn:disabled {
  cursor: not-allowed;
}
.quantity-btn {
  cursor: pointer;
  padding: 3px;
  padding: 6px;
}
