.checkout-container {
  padding: 4rem;
  background: rgba(0, 0, 0, 0.15);
  min-height: 100vh;
}
.checkout {
  width: 100%;
  display: grid;
  grid-template-columns: 70% 1fr;
  gap: 2rem;
}
.checkout__form {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.person-infos {
  flex-basis: 50%;
}
.address {
  flex-basis: 50%;
}
.checkout__label {
  color: black;
  font-size: 0.8rem;
}
.checkout__delivery-infos {
  background: rgba(255, 255, 255, 0.815);
  padding: 2rem;
}
.checkout__input {
  border: 1px solid grey;
}

.checkout-input-container {
  width: 85%;
}
.checkout__item-summary {
  display: block;
  padding: 0;
  margin-top: 2rem;
}

@media (max-width: 1200px) {
  .checkout {
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content;
  }
}

@media (max-width: 600px) {
  .checkout-container {
    padding: 1rem;
  }
}
@media (max-width: 500px) {
  .checkout__delivery-infos h4 {
    text-align: center;
  }
  .checkout__form {
    flex-direction: column;
  }
  .person-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .address {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
