.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: green;
  line-height: 2;
  display: none;
  z-index: 999;
  width: fit-content;
}
.modal__title {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  color: white;
  background: purple;
}
.modal__body {
  padding: 2rem;
}
.modal__paragraph {
  font-size: 1.2rem;
  color: white;
}
.modal-show {
  display: inline-block;
}

@media (max-width: 600px) {
  .modal {
    width: 90vw;
  }
}
