.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  line-height: 2;
  display: none;
  z-index: 999;
  width: fit-content;
  border-radius: 0 8px 0 8px;
}
.modal__title {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.308);
}
.modal__body {
  padding: 2rem;
}
.modal__paragraph {
  font-size: 1.2rem;
  color: white;
}
.modal-show {
  display: inline-block;
}

@media (max-width: 600px) {
  .modal {
    width: 90vw;
  }
  .modal__title {
    padding: 2rem 1rem;
  }
  .modal__body {
    padding: 2rem 1rem;
  }
}
