.order-summary__header {
  font-size: 1rem;
  font-weight: 400;
}
.order-summary__lists {
  list-style: none;
}
.order-summary__list {
  margin: 1rem 0;

  display: flex;
  justify-content: space-between;
}
