.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200rem);
  z-index: 1000;
  opacity: 0;
  transition: all 0.4s;
  background: purple;
  padding: 2rem;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  padding: 1rem;
}
.show-login {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.form__btn {
  background: green;
  color: white;
}
.change-mode {
  margin: 1rem;
  margin-top: 2rem;
  color: white;
}
.change-mode__btn {
  margin-left: 0.4rem;
  background: green;
  padding: 0.2rem;
}

@media (max-width: 1000px) {
  .form {
    width: max-content;
  }
}
