.auth-form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200rem);
  z-index: 1000;
  opacity: 0;
  transition: all 0.4s;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: max-content;
  border-radius: 8px;
}
.auth__form {
  padding: 8rem 4rem;
}
.auth__form-header {
  text-align: start;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
  width: 100%;
  padding: 1rem 4rem;
  font-size: 1rem;
  font-weight: 400;
}
.show-login {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.auth-input-container {
  width: 100%;
  margin-bottom: 1rem;
}
.auth-form__input {
  border: none !important;
  border-bottom: 1px solid black !important;
  background: none !important;
  padding: 0.4rem 0 !important;
}
.auth-form__input:focus {
  border: none !important;
  border-bottom: 1px solid black !important;
  outline: none !important;
}
.form__btn {
  padding: 0.6rem 1rem;
  margin-top: 1rem;
  border-radius: 4px;
}
.change-mode {
  margin: 1rem;
  margin-top: 2rem;
}
.change-mode__btn {
  margin-left: 0.4rem;
  background: purple;
  padding: 0.2rem;
  color: white;
}
.hide-form {
  position: absolute;
  right: -2rem;
  top: -2rem;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

@media (max-width: 500px) {
  .auth-form__container {
    padding-right: 1rem;
    padding-left: 1rem;
    width: 24rem;
  }
}
@media (max-width: 400px) {
  .auth-form__container {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .hide-form {
    font-size: 1rem;
    top: 9px;
    right: 9px;
    background-color: black;
    padding: 0.4rem;
  }
}
