.sticky-cta {
  position: fixed;
  right: 0;
  top: 4rem;
  width: max-content;
  padding: 0.4rem 2rem;
  background: white;
  box-shadow: 0 2px 2px gray;
  z-index: 10;
  text-align: center;
  animation: slideDown 0.8s ease-in-out;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.sticky-cta__price {
  color: green;
  margin-left: 1rem;
  font-size: 1.3rem;
}
.sticky-cta__add-to-cart {
  width: max-content;
}
.sticky-cta__img-brand {
  display: flex;
  align-items: center;
}
.sticky-cta__img-brand img {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}
.sticky-cta__atc-price {
  display: flex;
  align-items: center;
}

@keyframes slideDown {
  from {
    transform: translateY(-20rem);
  }
  to {
    transform: translateY(0);
  }
}
