.sticky-cta {
  position: fixed;
  right: 1rem;
  top: 1rem;
  width: max-content;
  padding: 2rem;
  background: white;
  box-shadow: 0 2px 2px gray;
  z-index: 10;
  text-align: center;
  animation: slideDown 0.8s ease-in-out;
  width: 20rem;
}
.sticky-cta img {
  width: 3rem;
  height: 3rem;
}
.sticky-cta__price {
  color: green;
  margin: 0.4rem 0;
}

@keyframes slideDown {
  from {
    transform: translateY(-20rem);
  }
  to {
    transform: translateY(0);
  }
}
