.product-features {
  margin: 1rem;
  margin-left: 1rem;
  padding: 1rem;
  box-shadow: 4px 0 4px 4px grey;
  align-self: start;
}
.product-features__heading {
  text-align: center;
}

.product-features__lists {
  list-style: none;
}
.product-features__list {
  padding: 0.4rem 1rem;
  display: flex;
  justify-content: space-between;
}
.product-features__list:not(:last-child) {
  border-bottom: 1px solid rgba(128, 0, 128, 0.253);
}
.show-features {
  width: 20rem;
  display: block !important;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background: white;
}

@media (max-width: 1100px) {
  .product-features {
    display: none;
  }
}
