.features-wrapper {
  align-self: start;
  box-shadow: 2px 0 2px 2px grey;
  margin: 1rem;
  margin-left: 1rem;
  padding: 2rem 1rem;
  flex: 1;
}

.product-features__heading {
  text-align: center;
}

.product-features__lists {
  list-style: none;
}
.product-features__list {
  padding: 0.4rem 1rem;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  text-transform: capitalize;
}

.show-features {
  width: 20rem;
  display: block !important;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background: white;
}
.add-to-cart {
  width: 100%;
  border-radius: 0;
  margin: 0;
  margin-top: 1rem;
}
