.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__logo {
  width: 4rem;
}
.nav__name {
  font-size: 1.2rem;
  margin: 0 1rem;
  color: black;
}
.nav__search {
  flex-basis: 80%;
  display: flex;
  justify-content: center;
  margin-left: auto;
}
.nav__search-input {
  border: 1px solid rgba(0, 128, 0, 0.356);
  outline: none;
  padding: 0.4rem 1rem;
  width: 80%;
  transition: all 0.2s;
  margin-right: -1.8rem;
  align-items: center;
}

.nav__search-input:focus {
  width: 100%;
  border: 1px solid green;
  box-shadow: 0 4px 4px rgba(128, 128, 128, 0.424);
}
.nav__icon {
  cursor: pointer;
  background: rgba(128, 128, 128, 0.589);
  display: flex;
  align-items: center;
  padding: 6px;
  color: white;
}
.nav__icon:hover {
  background: grey;
}

.nav__items {
  display: flex;
  justify-content: flex-end;
  flex-basis: 50%;
  align-items: center;
}
.nav__link {
  text-decoration: none;
}
.nav__item {
  text-transform: uppercase;
  color: black;
  margin-right: 2rem;
}
.nav__item:hover {
  color: green;
}
.shopping-cart {
  font-size: 1.3rem;
  color: green;
  position: relative;
  cursor: pointer;
}
.shopping-cart__item-qty {
  position: absolute;
  top: -12px;
  left: 15px;
  background: red;
  width: 1rem;
  height: 1rem;
  font-size: 0.9rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.nav__side {
  display: flex;
  flex-basis: 70%;
  align-items: center;
  justify-content: space-between;
}

.search-icon {
  margin: 0 1.5rem;
  cursor: pointer;
  padding: 0.4rem;
}
.search-icon:hover {
  background: green;
  color: white;
}

.nav__items-hide {
  display: none;
}
.show-search {
  margin-top: 0.8rem;
  display: flex !important;
}

@media (max-width: 1100px) {
  .nav__search {
    flex-basis: 100%;
  }
  .nav__search-input:focus {
    width: 80%;
  }
}

@media (max-width: 900px) {
  .nav {
    flex-direction: column;
    padding: 1rem 2rem;
    height: 6rem;
  }
  .nav__side {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .nav__side {
    justify-content: center;
  }
  .nav__search {
    display: none;
  }
}
@media (min-width: 600px) {
  .search-icon {
    display: none;
  }
}
