.customer__username {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background: purple;
  border-radius: 50%;
  font-size: 1.2rem;
  color: white;
  text-transform: uppercase;
}
