.input-container {
  margin-bottom: 0.4rem;
}
.input__field {
  width: 100%;
  padding: 0.4rem 1rem;
  border: 1px solid green;
}
.input__label {
  margin-bottom: 8px;
  display: block;
}
.error-msg {
  color: red;
  margin-top: 0.4rem;
}
