.coupon-container {
  min-height: 80vh;
}
.coupon-wrapper {
  min-height: 0.1vh;
  padding: 2rem;
  width: 100%;
}
.coupon-wrapper h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

.coupons {
  margin-top: 2rem;
  min-height: 100vh;
}

.coupon-output {
  padding: 1rem;
  background: purple;
  display: flex;
  justify-content: space-between;
}

.coupon-edit__btn {
  width: 70%;
}

@media (max-width: 550px) {
  .coupon-wrapper {
    padding: 1rem;
  }
}

@media (max-width: 450px) {
  .coupon-wrapper {
    overflow-x: auto;
  }
  .table {
    width: 30rem;
  }
}
