.cart-container {
  min-height: 100vh;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-template-rows: max-content;
  gap: 1rem;
  align-items: start;
}
.cart__item-link {
  text-decoration: none;
}
.cart__item {
  background: rgba(255, 255, 255, 0.548);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
  margin-bottom: 0.8rem;
}
.cart__item:hover {
  box-shadow: 0 2px 2px rgba(0, 128, 0, 0.1);
}
.cart__item-about {
  display: flex;
  align-items: center;
}
.cart__item-img {
  width: 6rem;
  margin-right: 1rem;
}
.cart__item-features {
  line-height: 1.4;
}
.cart__item-price {
  color: green;
  font-size: 1.3rem;
}
.order-summary {
  background: rgba(255, 255, 255, 0.548);
  padding: 2rem;
  line-height: 1.5;
}
