.order {
  background: green;
  display: grid;
  grid-template-columns: 1fr 40%;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  gap: 1rem;
}
.order__item {
  margin: 1rem 0;
  padding: 1rem;
  background: white;
}
.order__list {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.order__list-item {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  list-style: none;
  line-height: 1.5;
  text-transform: capitalize;
}
.order__title {
  text-align: center;
  margin-bottom: 2rem;
}
.order__lists {
  background: white;
  padding: 2rem;
}
.order__date {
  text-align: center;
  margin-bottom: 1rem;
}
.order__item-price {
  margin: 0.4rem 0;
}

@media (max-width: 1000px) {
  .order {
    grid-template-columns: 100%;
  }
}
