.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  transition: all 0.4s;
  height: 100%;
  top: 0;
}
.desktop-nav__right {
  display: flex;
  align-self: stretch;
}
.desktop-nav__right > * {
  display: flex;
  margin-left: 1rem;
  align-items: center;
}
.desktop-nav__link {
  padding: 0 1rem;
  font-size: 1.1rem;
  color: black;
  transition: all 0.4s;
}
.desktop-nav__link:hover {
  background-color: green;
  color: white;
}
/* .fixed {
  position: fixed;
} */
