.product-detail-container {
  min-height: 500vh;
  background: rgba(128, 128, 128, 0.452);
  overflow: hidden;
}
.product-detail {
  position: relative;
  background: white;
  margin: 2rem;
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 1rem;
  height: max-content;
  padding: 2rem 0;
  min-height: 100vh;
}
.product-detail__content {
  padding: 1rem;
}
.product-detail__name {
  font-size: 1.4rem;
  margin-bottom: 0.9rem;
  margin-right: 4rem;
}
.product-detail__imgs {
  height: 100%;
  display: flex;
  margin-right: 3rem;
}
.main-img {
  height: 70%;
  width: 100%;
  cursor: auto;
}

.small-imgs {
  order: -1;
}
.product-detail__img {
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  margin-right: 0.4rem;
  border: 3px solid transparent;
  transition: all 0.4s;
}
.product-detail__img:hover,
.img-active {
  border: 3px solid green;
}

.product-detail__edit {
  display: flex;
}

.product-detail__price {
  font-size: 1.8rem;
  color: green;
  margin-bottom: 1rem;
}
.product-colors {
  margin: 1rem;
}
.product-color {
  margin: 0.5rem;
  padding: 0.4rem 1.2rem;
  cursor: pointer;
  background: rgba(128, 128, 128, 0.616);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
.product-color-active {
  background: green;
  transform: scale(1.009) translateY(-3px);
}
.modal__btn {
  margin-top: 1rem;
  color: purple;
  transition: all 0.4s;
  margin-right: 1rem;
}
.modal__btn:hover {
  margin-top: 1rem;
  background: purple;
  color: white;
}

@media (max-width: 1100px) {
  .product-detail {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .product-detail__imgs {
    flex-direction: column;
  }
  .main-img {
    order: -2;
  }
  .product-detail__img {
    height: 4rem;
    width: 4rem;
  }
}

@media (max-width: 650px) {
  .product-detail {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    gap: 0;
  }
}
