.slider {
  position: relative;
  overflow-x: hidden;
  margin: 0.5rem auto;
}
.trending-section {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.trending-products {
  transition: all 0.4s ease;
  display: flex;
  width: max-content;
}
.trending-products .product {
  border: 1px solid rgba(128, 128, 128, 0.4);
}
.trending-products .product__stock {
  display: none !important;
}
.trending-product__price {
  font-size: 1.1rem;
  color: green;
}

.slide {
  position: absolute;
  font-size: 2.4rem;
  top: 50%;
  transform: translateY(-50%);
  background: black;
  color: white;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.slide:disabled {
  color: rgba(255, 255, 255, 0.4);
  cursor: not-allowed;
}
.next-slide {
  right: 0;
}
.prev-slide {
  left: 0;
}
