.admin-form-container {
  background: white;
  width: 29rem;
  margin: auto;
  padding: 2rem;
}
.admin-form {
  width: 100%;
  margin: 2rem auto;
}
.admin-form__btn-container {
  margin: 1rem 0;
}
.admin-form__header {
  font-weight: 400;
  border-bottom: 1px solid black;
  padding: 0.4rem;
}
