.all-products {
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
  gap: 0.5rem;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.product__detail-link {
  text-decoration: none;
}
.product {
  width: 100%;
  transition: all 0.2s;
  height: 20rem;
  line-height: 1.6;
  position: relative;
  cursor: pointer;
}
.product__brand {
  color: black;
}
.product__price {
  color: black;
}
.product__stock {
  position: absolute;
  display: inline-block;
  transform: rotate(-35deg);
  top: -0.5rem;
  left: -1rem;
  background: green;
  color: white;
  padding: 0.1rem 1rem;
  display: flex;
  align-self: center;
  display: none;
}
.product:hover {
  box-shadow: 0 2px 2px gray;
  transform: scale(1.009);
}
.product:hover .product__stock {
  display: inline-block;
}
.product__img {
  width: 100%;
  height: 12rem;
  position: static !important;
}
.product__body {
  padding: 1rem;
}
